.radio {
  position: relative;

  display: inline-block;
  padding: 13px 0 12px 45px;

  &:hover span {
    border-color: #bcbcbc;
  }

  &:active {
    opacity: 0.3;
  }
}

input[type="radio"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input[type="radio"] + span {
  position: absolute;
  left: 0;
  top: 7px;

  width: 30px;
  height: 30px;
  border: 1px solid #cecece;
  border-radius: 50%;

  background-color: #ffffff;
}

/****** Checked ******/

input[type="radio"]:checked + span {
  box-shadow: inset 0 0 0 9px #ffffff;
  background-color: $leaf;
}

/****** Focused ******/

input[type="radio"]:focus + span {
  box-shadow: 0 0 5px 2px $leaf;
}

input[type="radio"]:checked:focus + span {
  box-shadow:
    inset 0 0 0 9px #ffffff,
    0 0 5px 2px $leaf;
  background-color: $leaf;
}

@media (min-width: $tablet-width) {
  .radio {
    padding: 12px 0 12px 59px;
  }

  input[type="radio"] + span {
    top: 3px;

    width: 40px;
    height: 40px;
  }

  input[type="radio"]:checked + span {
    box-shadow: inset 0 0 0 11px #ffffff;
  }

  input[type="radio"]:checked:focus + span {
    box-shadow:
      inset 0 0 0 11px #ffffff,
      0 0 5px 2px $leaf;
  }
}
