*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

@import "mixins.scss";
@import "var.scss";
@import "fonts.scss";
@import "visually-hidden.scss";
