$oswald: "Oswald", "Arial Narrow", sans-serif;
$arial: "Arial", sans-serif;

// mobileFirst
$tablet-width: 768px;
$desktop-width: 1024px;

// desktopFirst
// $desktop-width: 1023px;
// $tablet-width: 767px;
// $mobile-width: 320px;

$leaf: #68b738;
$leaf-hover: #5eaa2f;
$error: #ff8282;
